@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

* {
    font-family: 'Cousine', monospace;
}


textarea[id*="user"] {
    font-family: 'Courier New', Courier, monospace;
    color: #f5f5f5;
    caret-color: #f5f5f5;
}