$flex-display: flex;
$section-widths: calc(100% / 4);
$transition-03: 0.3s all ease-in;
$input-panel-color: #111;
$output-panel-color: #000;
$section-title-bg-color: #000;
$section-bar-bg-color: #222;