@import 'partials/globals', 'partials/mixins',, 'partials/responsive', 'partials/typography', 'partials/variables';

#wrapper {
    display: $flex-display;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: #000;
    #top-bars {
        display: $flex-display;
        justify-content: center;
        text-align: center;
        height: auto;
        background-color: #151515;
        padding: 10px 0;
        color: #d0cdcd;
        span {
            background-color: #311a54;
            padding: 5px;
            margin: 5px 0;
            cursor: pointer;
            transition: $transition-03;
            &:hover {
                background-color: #000;
                transition: $transition-03;
            }
        }
        h1 {
            margin: 10px 0;
        }
    }
    #coding-sections {
        display: $flex-display;
        flex-direction: row;
        section[class*="code-section"] {
            width: $section-widths;
            height: 100vh;
            border: 2px solid black;
            border-radius: 5px;
        }
        #HTML-input {
            background-color: #610094;
        }
        #CSS-input {
            background-color: #3F0071;
        }
        #JS-input {
            background-color: #47278d;
        }
        #output {
            background-color: #150050;
        }
        .section-bar {
            padding: 10px 0 10px 5px;
            background-color: rgb(67, 54, 172);
            border-radius: 5px;
            color: #d0cdcd;
        }
        section[id*="user"] {
            padding: 10px 5px;
        }
    }
}