@import 'partials/globals', 'partials/mixins', 'partials/responsive', 'partials/typography', 'partials/variables';

#wrapper {
    display: $flex-display;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #000;
    #top-bars {
        display: $flex-display;
        justify-content: center;
        text-align: center;
        height: auto;
        background-color: #151515;
        padding: 10px 0;
        color: #d0cdcd;
        span,
        button {
            background-color: #311a54;
            padding: 10px;
            margin: 10px 0;
            cursor: pointer;
            transition: $transition-03;
            color: $text-color;
            &:hover {
                background-color: #000;
                transition: $transition-03;
            }
        }
        h1 {
            margin: 10px 0;
        }
    }
    #coding-sections {
        display: $flex-display;
        flex-direction: row;
        section[class*="code-section"] {
            width: $section-widths;
            height: 100vh;
            border: 2px solid black;
        }
        textarea[id*="input"] {
            background-color: $input-panel-color;
        }
        #output {
            background-color: $output-panel-color;
        }
        .section-bar {
            padding: 10px 0 10px 5px;
            background-color: $section-bar-bg-color;
            color: #d0cdcd;
        }
        textarea[id*="user"] {
            padding: 10px 5px;
            background-color: $output-panel-color;
            height: 100%;
            width: 100%;
        }
    }
}